*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: #4d6175;
    color: #fff;
}

header nav{
    background-color: #072039;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header nav h1{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1ccf46;
}

header nav form{
    display: flex;
    justify-content: center;
}

form input[type="text"]{
    flex-grow: 1;
    margin-right: 10px;
}

form input[type="text"], button[type="submit"]{
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
}

form button[type="submit"]{
    background-color: #209a3c;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

form button[type="submit"]:hover, .recipe button:hover , .recipe-close-btn:hover{
    background-color: #79c855;}

/* Main Section */
.recipe-container{
    text-align: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 10px auto ;
    padding: 20px;
    place-items: center;
}

.recipe{
    background-color: #bac3ce;
    display: flex;
    flex-direction: column;
    color: black;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(78, 73, 73, 0.1), -5px -5px 10px rgba(34, 34, 34, 0.5);
    cursor: pointer;
    max-width: 350px;
    transition: transform 0.1s ease-in-out;
}

.recipe:hover{
    transform: scale(1.04);
}

.recipe img{
    height: 300px;
}

.recipe h3{
    font-size: 24px;
    margin-block: 5px;
}

.recipe p{
    font-size: 20px;
    color: rgb(16, 14, 14);
    margin: 5px 0;
}

.recipe span{
    font-weight: 600;
}

/* recipe Details */
.recipe-details{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    background: #010e1b;
    color: #12d640;
    border-radius: 12px;
    width: 50%;
    height: 80%;
    font-size: 14px;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
}

.recipe button{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 18px auto;
    background-color: #209a3c;
    color: #fff;
    border: none;
}

.recipe-details-content{
    padding: 30px;
}

.recipeName{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 10px;
}

.ingredientList li{
    margin-bottom: 10px;
    margin-left: 20px;
}

.recipeInstructions{
    line-height: 30px;
    white-space: pre-line;
}

.recipeName, .ingredientList, .recipeInstructions{
    margin-bottom: 20px;
}

.recipe-close-btn{
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
    background-color: #209a3c;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Adding scrollbar to recipe details popup */
.recipe-details::-webkit-scrollbar{
    width: 10px;
}

.recipe-details::-webkit-scrollbar-thumb{
    border-radius: 16px;
    background: #b5b5ba;
    -webkit-border-radius: 16px;
}


body::-webkit-scrollbar{
    width: 16px;
}

body::-webkit-scrollbar-thumb{
    background: #41a258;
}

body::-webkit-scrollbar-track{
    background: #9ac884;}
}

/* Responsive Code */
@media screen and (max-width:600px){
    header nav{
        flex-direction: column;
    }

    header nav form{
    width: 80%;
    margin-top: 20px;
    }
}
